a {
  color: black;
  text-decoration: none;
}

#login-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 5px 10px;
}

#header {
  text-align: right;
}

#boogle {
  font-size: 80px;
  font-family: sans-serif;
  text-align: center;
  margin-top: 200px;
}

#b {
  color: #5599ff;
}
