<!DOCTYPE html>
<html>
    <head>
        <title>Matej Ramuta | Fakebook</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <h1 class="important"><em>FAKEBOOK</em></h1>
        Search: <input type="text" placeholder="Search by name">

        <br>

        <h2>Matej Ramuta</h2>
        <img src="https://storage.googleapis.com/smartninja-org-assets/curriculums/cw/de/sleepy.jpg">
        <br>
        <br>

        <button class="important" id="add-friend-button">Add a friend</button>
        <br>

        <p><strong class="important">City:</strong> Vienna</p>
        <p><strong>Age:</strong> 20+</p>
        <p><strong>Education:</strong> Ninja University degree</p>
        <p><strong>Hobby:</strong> sleeping</p>
        <p><strong>FB friends:</strong> 2341234235234523454235</p>
        <p><strong>FB enemies:</strong> -15</p>

        <h1>box-modell</h1>

        <div id="box">Box</div>
    </body>
</html>
